section {
  width: 50%;
  height: 25em;
  margin: 0 auto;
  position: relative;
  max-width: 100%;
}
body{margin: 0;}

h2{
  margin-left: 5%;
    font-weight: 300;
    font-size: 16px;
  font-family: Microsoft JhengHei;
}
h3{margin:30px 0;
  font-size: 20px;
  font-weight: 500;

  font-family: Microsoft JhengHei;}

 ul {
  display: table-row;
  text-align: center;
}

 li {
  width: 100%;
  /* background: #333; */
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

.title{
  width: 100%;
  text-align: center;
}

 li p {
  color: white;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  margin-top: 1.175em;
}

.onepic{
  position:relative;
  width:40%;
  overflow:hidden;
  border-radius:50%;
  margin-left: 29.5%;
}

.onepic img{
    width:100%;
    height:auto;
}

#onename{
  width: 100%;
  height: auto;
}

#onename h2{
  margin-left: unset;
}

#name{
  width: 50%;
  height: auto;
  margin-top: -5px;
}

.gem {
  position: absolute;
}

.top {
  padding-left: 0% !important;
  z-index: 3000;
  /* margin-left: -40px; */
  /*background-image: url('https://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
}

.yeah {
  opacity: .3;
  margin-left: -40% !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}

.heave {
  margin-left: 7% !important;
  opacity: .05;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  transform: scale(.5);
}

.light {
  opacity: .3;
  margin-left:  41% !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}

.circular{
    position:relative;
    width:40%;
    overflow:hidden;
    border-radius:50%;
    margin-left: 5%;
    margin-right: 5%;
}

.circular img{
    width:100%;
    height:auto;
}


span {
  position: relative;
  margin: 0 auto;
  left: 17em;
  top: 20em;
}


/* Next & previous buttons */
.prev, .next {
 cursor: pointer;
 position: absolute;
 top: 15%;
 width: auto;
 margin-left: -25%;
 margin-right:-25%;
 margin-top: 100px;
 color: white;
 font-weight: bold;
 font-size: 18px;
 transition: 0.6s ease;
 border-radius: 0 3px 3px 0;
 z-index: 3000;
}


.prev img, .next img{
  width: 20px;
  height: 30px;
}

/* Position the "next button" to the right */
.next {
 right: 0;
 border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
 background-color: rgba(0,0,0,0.8);
}
@media only screen and (min-width: 2560px){
  h3{font-size: 32px;}
  h2{font-size: 28px;}
  .prev, .next{top:55%;}
  .prev img, .next img{
    width: 34px;
    height: 44px;
  }
}
@media only screen and  (max-width: 2559px) and (min-width: 1960px){
  h3{font-size: 28px;}
  h2{font-size: 24px;}
  .prev, .next {top:45%;}
  .prev img, .next img{
    width: 30px;
    height: 40px;
  }
}
@media only screen and  (max-width: 1959px) and (min-width: 1440px){
  h3{font-size: 24px;}
  h2{font-size: 20px;}
  .prev, .next {top:35%;}
  .prev img, .next img{
    width: 26px;
    height: 36px;
  }
}
@media only screen and (max-width: 700px){
section{height: 70%;width:100%;}
.circular{width: 40%;}
.onepic{width:45%;margin-left: 27%;}
.light{opacity: 0;}
.yeah{opacity: 0;}
}
