.fgg {
  width: 50%;
  height: 25em;
  margin: 0 auto;
  position: relative;
  max-width: 100%;
}
/*body{margin: 0;}*/

.carousel-1{
  display: flex;
  padding-left: unset;
  height: 90%;
  margin-top: unset;
  justify-content: center;
  align-items: center;
}

.fgg h2{
  margin: 30px 0;
  margin-left: 5%;
  font-weight: 300;
  font-size: 16px;
  font-family: Microsoft JhengHei;
}
.fgg h3{
  font-size: 20px;
  font-weight: 500;

  font-family: Microsoft JhengHei;}

 .fgg ul {
  display: table-row;
  text-align: center;
}

 .fgg li {
  width: 100%;
  /* background: #333; */
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

.title{
  width: 100%;
  text-align: center;
}

 .fgg li p {
  color: white;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  margin-top: 1.175em;
}

.onepic{
  position:relative;
  width:43%;
  overflow:hidden;
  border-radius:50%;
  margin-left: 29.5%;
}

.onepic img{
    width:100%;
    height:auto;
}

#onename{
  width: 100%;
  height: auto;
}

#onename h2{
  margin-left: unset;
}

#name{
  width: 50%;
  height: auto;
  margin-top: -5px;
}

.gem {
  position: absolute;
}

.top {
  z-index: 3000;
  /* margin-left: -40px; */
  /*background-image: url('https://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
}

.yeah {
  opacity: .3;
  margin-left: -40% !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}

.heave {
  margin-left: 0% !important;
  opacity: .05;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  transform: scale(.5);
}

.light {
  opacity: .3;
  margin-left:  41% !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}

.fgg .circular{
    position:relative;
    width:43%;
    overflow:hidden;
    border-radius:50%;
    margin-left: 3%;
    margin-right: 3%;
}

.fgg .circular img{
    width:100%;
    height:auto;
}


.fgg span {
  position: relative;
  margin: 0 auto;
  left: 17em;
  top: 20em;
}


/* Next & previous buttons */
.fgg .prev2,.fgg .next2 {
 cursor: pointer;
 position: absolute;
 top: 15%;
 width: auto;
 margin-top: 100px;
 color: white;
 font-weight: bold;
 font-size: 18px;
 transition: 0.6s ease;
 border-radius: 0 3px 3px 0;
 z-index: 3000;
}


.fgg .prev2 img, .fgg .next2 img{
  width: 20px;
  height: 30px;
}

/* Position the "next button" to the right */
.fgg .next2 {
  left:125%;
  border-radius: 3px 0 0 3px;
}
.fgg .prev2{left:-30%}


/* On hover, add a black background color with a little bit see-through */
.fgg .prev2:hover, .fgg .next2:hover {
 background-color: rgba(0,0,0,0.8);
}
@media only screen and (max-width:768.98px) and (min-height:1023.98px){
  .fgg{width:90%;}
  .yeah{opacity:0;}
  .light{opacity:0;}
}
@media only screen and (max-width: 700px){
  .yeah {opacity: 0;}
  .light{opacity:0;}
  .fgg{width:75%;}
  .fgg .carousel-1{height:100%;}
}

@media only screen and (max-width: 480px){
  .fgg{width:90%;  overflow:hidden;}


}
