

#latContentTitle{  width: 100%;
                height: 100%;
                position: relative;
                background:#ffffff;
                background-size: cover;
                background-position: center;
                overflow: hidden;
                display:block;}

#latContentTitle_1{ position:absolute;
                 top: 0;
                 left: 0;
                 opacity: 1;
                 background-image:url("https://scontent.ftpe8-1.fna.fbcdn.net/v/t1.15752-9/s2048x2048/31369780_10214524408356523_2945181631758991360_n.png?_nc_cat=0&oh=e40b2a6cf4035ff8cdfa76e1783c8240&oe=5B6952A4");
                 background-size: cover;
                 background-attachment:fixed;
                 background-position: center;
                 background-repeat: no-repeat;
                 width: 100%;
                 height: 101%;
                 display:block;}

#latContentBlk_1{margin: 100px auto 60px auto;z-index: 2;position: relative;display:block;}

#latContentMsg_1{ margin: 83px auto 100px;
                display: block;
                font-size: 30px;
                font-weight: bold;
                font-family: Verdana,sans-serif;
                letter-spacing: 1.5px;
                color: #312028;
                line-height: 150%;
                text-align: center;
                display:block;}

#latContentMsg_1::after{ content:"";
                      display: block;
                      height:1px;
                      border-radius: 100%;
                      margin:10px auto 0px auto;
                      width:30px;
                      background: #303549;
                      line-height: 150%;
                      text-align: center;
                               }
#latContentAnchor_1{margin:-35px auto 100px auto;
                    text-align:center;
                    width:150px;
                    background:#303549;
                    font-size:16px;
                    line-height:100%;
                    cursor:pointer;
                    padding:15px 20px;
                    border:1px solid #303549;
                  color:#ffffff;}
.anchor1{ color:#ffffff;display: inline-table;
        padding: 10px 25px;;font-size: 20px;background:#303549;
        border: 1px solid #303549;font-family: Microsoft JhengHei;
}
.anchor1:hover{color:#ffffff;}

#latContentTitle2{  width: 100%;
                    height: 100%;
                    position: relative;
                    background:#ffffff;
                      background-attachment:fixed;
                    background-size: cover;
                    background-position: center;
                    overflow: hidden;
                    display:block;}

#latContentTitle_2{ position:absolute;
                    top: 0;
                    left: 0;
                    opacity: 1;
                    background-image:url("https://scontent.ftpe8-1.fna.fbcdn.net/v/t1.15752-9/s2048x2048/31435171_10214524408156518_8858727269019942912_n.png?_nc_cat=0&oh=002411efc12a9ceecbfb7acc81525e9a&oe=5B53EEEF");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 100%;
                    background-attachment:fixed;
                    height: 100%;
                    display:block;}
#latContentBlk_2{margin: 100px auto 60px auto;z-index: 2;position: relative;display:block;}
#latContentMsg_4{ margin: 50px auto;
                display: block;
                font-family: Verdana,sans-serif;
                font-size: 30px;
                font-weight: bold;
                letter-spacing: 1.5px;
                color: #312028;
                line-height: 150%;
                text-align: center;
                display:block;}

#latContentMsg_4::after{ content:"";
                      display: block;
                      height:1px;
                      border-radius: 100%;
                      margin:10px auto 0px auto;
                      width:30px;
                      background: #312028;
                      line-height: 150%;
                      text-align: center;
                               }

 #latContentMsg_5{font-size: 20px;font-family: Microsoft JhengHei;}
