#latFooter{background-image:url("https://scontent.ftpe8-1.fna.fbcdn.net/v/t1.15752-9/s2048x2048/31318342_10214524408036515_3505697867731828736_n.png?_nc_cat=0&oh=d1bd163d6bc0a2745307a93bd0e20ac2&oe=5B60E75C");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-attachment:fixed;
          height: 100%;
          display: flex;
          padding-top:50px;
          }

#latFooterR1 {width: 75%;
              height: 100%;
              display:block;
              }
#latFooterMsg_1{  height: 20%;
                font-size: 50px;
                font-family: Verdana,sans-serif;
                font-weight: bold;
                letter-spacing: 1.5px;
                color: #ffffff;
                width:100%;
                line-height: 150%;
                display:flex;
                align-items: flex-end;
                justify-content: left;}

#latFooterMsg_2{
                 display: flex;
                  justify-content: left;
                  align-items: center;
                  padding: 10px 0;
                  height: 7%;
                 font-size: 21px;
                letter-spacing: 1.5px;
                color: #ffffff;
                width:100%;
                line-height: 150%;
                font-family: Microsoft JhengHei;}

#latFooterMsg_3{margin:30px auto 10px auto;}

#latFooterItem_1{display:block;float:left;width:100%;}

#latFooterImg1 img,#latFooterImg2 img
                            {max-width: 30px;
                              max-height: 20px;
                              float:left;
                              margin-right:10px;}

#latFooterImg1,#latFooterImg2{width:100%;float:left;font-size:16px;color:#ffffff;margin:10px;font-family: Microsoft JhengHei;}


#latFooterMsg_4,#latFooterMsg_5{margin:45px auto;}
#latFooterMsg_7{margin:0px auto;}
#latFooterWeform_1,#latFooterWeform_2,#latFooterWeform_3,#latFooterWeform_4
{font-size:16px;color:#ffffff;font-family: Microsoft JhengHei;}

#latFooterItem_4,#latFooterItem_5,#latFooterItem_6
{width:33%;float:left;display:block;}

#latFooterImg3 img,#latFooterImg4 img,#latFooterImg5 img
{max-width: 42px;max-height: 50px;float:left;margin:90px 10px;}

#latFooterItem_7{display:block;float:left;width:100%;}

#latFooterWeform_5{float:left;font-size:16px;color:#ffffff;width:100%;font-family: Microsoft JhengHei;}

#latFooterItem_8
{ display:block;
    padding-right: 9%;
  width:100%;float:right;margin:10px auto 60px auto;
}
#WEFORM
{font-size:16px;
  float:right;
  font-family: Microsoft JhengHei;
  padding:5px 35px;
  color:#ffffff;
  border:1px solid #23dfd0;
  cursor:pointer;
  width:45px;
  text-align:center;
}
