#latFooter{background-image:url("https://scontent.ftpe8-1.fna.fbcdn.net/v/t1.15752-9/s2048x2048/31318342_10214524408036515_3505697867731828736_n.png?_nc_cat=0&oh=d1bd163d6bc0a2745307a93bd0e20ac2&oe=5B60E75C");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
            background-attachment:fixed;
          height:100%;}

#latFooterR1 {width: 70%;
              height: 100%;
              display:block;}

#latFooterTitle{  width: 100%;
                  height: 100%;
                  position: relative;
                  background-size: cover;
                    background-attachment:fixed;
                  background-position: center;
                  overflow: hidden;
                  display:block;}

#latFooterTitle_1{ position:absolute;
                    top: 0;
                    left: 0;
                    opacity: 1;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 100%;
                    display:block;}

#latFooterBlk_1{margin:80px auto 60px auto;z-index: 2;position: relative;display:block;}

#latFooterMsg_1{ margin:10px auto;
                display: block;
                font-size: 36px;
                font-weight: 800;
                letter-spacing: 1.5px;
                color: #ffffff;
                line-height: 150%;
                display:block;}

#latFooterMsg_2{ margin:10px auto;
                 display: block;
                 font-size: 18px;
                 font-weight: 800;
                letter-spacing: 1.5px;
                color: #ffffff;
                line-height: 150%;
                display:block;}

#latFooterMsg_3{margin:30px auto 10px auto;}

#latFooterItem_1{display:block;float:left;width:100%;}

#latFooterImg1 img,#latFooterImg2 img
                            {max-width: 30px;
                              max-height: 20px;
                              float:left;
                              ;
                              margin-right:10px;}

#latFooterImg1,#latFooterImg2{width:100%;float:left;font-size:12px;color:#ffffff;margin:10px;}


#latFooterMsg_4,#latFooterMsg_5,#latFooterMsg_7{margin:30px auto -59px auto;}
#latFooterMsg_6{margin:61px auto 38px auto;}
#latFooterMsg_6{width:66%;}
#latFooterWeform_1,#latFooterWeform_2,#latFooterWeform_3,#latFooterWeform_4
{float:left;font-size:12px;color:#ffffff;}

#latFooterItem_4,#latFooterItem_5,#latFooterItem_6
{width:33%;float:left;display:block;}

#latFooterImg3 img,#latFooterImg4 img,#latFooterImg5 img
{max-width: 42px;max-height: 50px;float:left;margin:90px 10px;}

#latFooterItem_7{display:block;float:left;width:100%;margin-left: -13px;}

#latFooterWeform_5{float:left;font-size:12px;color:#ffffff;margin:10px;width:100%;}

#latFooterItem_8
{ display:block;
  width:100%;float:right;margin:106px auto 60px auto;
}
#WEFORM
{font-size:16px;
  float:right;
  padding:5px 35px;
  color:#ffffff;
  border:1px solid #23dfd0;
  cursor:pointer;
  width:45px;
  text-align:center;
}
@media only screen and (max-width: 1000px){
  #latFooterMsg_3{width:100%;}
  #latFooterImg1, #latFooterImg2{width:50%;margin:0px auto;}
  #latFooterImg3,#latFooterImg4,#latFooterImg5{
    width: 33%;
    float: left;
    margin: 0 auto;
    display: block;
    }
  #latFooterImg3 img,#latFooterImg4 img,#latFooterImg5 img{margin:30px auto 0px auto;width:33%;}
  #latFooterMsg_4, #latFooterMsg_5{width:50%;margin:0 auto;}
  #latFooterMsg_6,#latFooterMsg_7{margin:0 auto;}
  #latFooterWeform_1, #latFooterWeform_3{margin:30px auto 10px auto;}
  #latFooterWeform_2, #latFooterWeform_4{margin:10px auto 30px auto;}
  #latFooterWeform_5{margin:0px auto;}
  #latFooterMsg_6,#latFooterMsg_7{width:100%;}
}

@media only screen and (max-width: 700px){
#latFooterMsg_1,#latFooterMsg_2{text-align:center;}
#latFooterImg1, #latFooterImg2{width:100%;margin: 0px auto 10px auto;text-align:center;}
#latFooterItem_1{float:unset;}
#latFooterImg1 img, #latFooterImg2 img{float:unset;}
#latFooterImg3 img, #latFooterImg4 img,#latFooterImg5 img{margin: 10px auto 0px auto;;}
#latFooterImg3,#latFooterImg4,#latFooterImg5{ width: 33%;
    float: left;
    margin: 0 auto;
    align-items: center;
    display: flex;}

#latFooterMsg_4, #latFooterMsg_5{width:100%;margin:0 auto;}
#latFooterWeform_3{text-align: center;float:unset;margin:0px auto 10px auto;}
#latFooterWeform_1{margin:30px auto 10px auto;text-align: center;float:unset;}
#latFooterWeform_2{text-align: center;float:unset;margin:10px auto 10px auto;}
#latFooterWeform_4{text-align: center;float:unset;margin:10px auto 30px auto;}
}
