
#latHeader{position: relative;}
#latHeaderMenu{background:rgba(216, 216, 216, 0.7);width: 96%;
              z-index: 4;
              top:3%;
              left:2%;
              margin: 0 auto;
              display: block;
              box-shadow: -1px 1px 60px 14px rgba(5,233,204,0.6);
              position: fixed;
              transition: top 0.3s;
              opacity: 0;
            }

            @keyframes mymove{
            from{ background-color:red;}
            to{background-color:blue;}
            }


#latHeaderMenu a:hover {box-shadow:  -1px 1px 15px 15px rgba(5,233,204,0.1);}

.containerheader{width:67.5%;display:block;margin:0 auto;text-align:center;}

.logo{width:39%;display: block;float:left;}
.list{width:61%;display: inline;}
.logopic img{width:90%;}
.logothing{display:inline-block;padding:10px 0px;cursor:pointer;}
.listtitle{display:block;float:left;cursor: pointer;}
.listtitle:nth-child(4){border-right:1px solid #303549;}
.item{ color:#303549;display: block;
    padding: 33px 20px;font-weight: bold;
    border-left: 1px solid #303549;font-family: Microsoft JhengHei;
    }
    @media only screen and (max-width: 880px){
      .logo{width:90%;float:unset;text-align: left;}
    .logothing{padding: 10px 25px;}
  .listtitle{width: 100%;}
  .listtitle:nth-child(4){border-right:0px solid #303549;}
.item{padding: 20px;border:unset;}}

.item:hover{color:#ffffff;background: #303549;}


#HeaderMenu1,#HeaderMenu2,#HeaderMenu3,#HeaderMenu4
{
  float:left;
  display:block;
  border-left:1px solid #303549;
  background:#e6e6e6;
  padding:26px 20px;
  color:#303549;font-size:16px;}
#HeaderMenu4{border-right:1px solid #303549;}

#HeaderMenu1:hover,#HeaderMenu2:hover,#HeaderMenu3:hover,#HeaderMenu4:hover
{  background:#303549;color:white;cursor:pointer;}

#latHeaderTitle{width: 100%;
                height: 100%;
                background-color: #ffffff;
                position: relative;
                background-attachment:fixed;
                background-size: cover;
                background-position: center;
                overflow: hidden;
                display:block;  }

#latHeaderTitle_1{ position:absolute;
                  top: 0;
                  left: 0;
                  opacity: 1;
                  background-attachment:fixed;
                  background-image:url("https://scontent.ftpe8-1.fna.fbcdn.net/v/t1.15752-9/s2048x2048/31416898_10214524398756283_7410486209731887104_n.png?_nc_cat=0&oh=ab4506c9e14d4aa985af472c04f47250&oe=5B9603D1");
                  background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;
                  width: 100%;
                  height: 100%;
                  display:block;}

#latHeaderBlk_1{margin: 305px auto 110px auto;z-index: 2;position: relative;display:block;}
#latHeaderMsg_1{ margin: 0 auto;
                display: block;
                font-size: 50px;
                margin:50px auto;
                font-weight: bold;
                letter-spacing: 1.5px;
                color:#23dfd0;
                line-height: 150%;
                text-align: center;
                font-family: Verdana,sans-serif;
                display:block;}
#latHeaderMsg_2{ margin: 0 auto;
                display: block;
                font-size: 24.5px;
                    text-shadow: 1px 1px 1px #cccccc;

                letter-spacing: 1.5px;
                color: #ffffff;
                line-height: 150%;
                text-align: center;
                display:block;}
#latHeaderMsg_3{ margin: 0 auto;
                display: block;
                font-size: 24.5px;
                    text-shadow: 1px 1px 1px #cccccc;

                letter-spacing: 1.5px;
                color: #ffffff;
                line-height: 150%;
                text-align: center;
                display:block;}
#latHeaderMsg_4{  margin: 80px auto 33px auto;

                  display: block;
                  text-align: center;
                }

#latHeaderMsg_5{ margin: 0 auto;
                display: block;
                font-size: 24.5px;

                    text-shadow: 1px 1px 1px #cccccc;
                letter-spacing: 1.5px;
                color: #ffffff;
                line-height: 150%;
                text-align: center;
                display:block;}
/*#latAnchorText{ padding: 10px 35px;
                border: 1px solid #ffffff;
                color: #ffffff;
                font-weight: 500;
                font-size: 20px;
                font-family: Microsoft JhengHei;
                width:105px;
                cursor:pointer;
                margin:0 auto;
                }*/
.anchor{ color:#ffffff;display: inline-table;
        padding: 10px 35px;font-weight: bold;font-size: 20px;
        border: 1px solid #ffffff;font-family: Microsoft JhengHei;
     }
.anchor:hover{color:#ffffff;cursor:pointer;}

                @media only screen and (max-width: 700px){

          #latHeaderMsg_2{font-size:20px;margin: 0 auto;width:96%;}
          #latHeaderMsg_3{font-size:20px;margin: 0 auto;width:96%;}
          #latHeaderMsg_5{font-size:20px;margin: 0 auto;width:96%;}
                /*#latHeaderMenu{position: static;}
                /* #latHeaderTitle_1{background-image:url("image/hpimage1.jpg") } */
                                                  }
