#latMainTitle{  width: 100%;
                height: 100%;
                position: relative;
                background-image:url("https://scontent.ftpe8-1.fna.fbcdn.net/v/t1.15752-9/s2048x2048/31326831_10214524407916512_393764680461451264_n.png?_nc_cat=0&oh=feee2793f09de809f86933b02919ffe8&oe=5B53F708");
                background-size: cover;
                  background-attachment:fixed;
                background-position: center;
                overflow: hidden;
                display:block;}

#latMainTitle_1{ position:absolute;
                  bottom: 0;
                  left: 0;
                  opacity: 1;
                  background-attachment:fixed;
                  background-color:white;
                  background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;
                  width: 100%;
                  height: 40%;
                  display:block;}


#latMainBlk_1{margin: 100px auto 60px auto;z-index: 2;position: relative;display:block;}

#latMainMsg_1{ margin: 50px auto;
                display: block;
                font-size: 24px;
                font-weight: 800;
                letter-spacing: 1.5px;
                color: #312028;
                line-height: 150%;
                text-align: center;
                display:block;}

#latMainMsg_1::after{ content:"";
               display: block;
               height:1px;
                margin:10px auto 0px auto;
               width:30px;
              background: #312028;
               line-height: 150%;
              text-align: center;
               }
#latMainContent_1,#latMainContent_2,#latMainContent_3
                {font-size:14px;
                  color:#312028;
                  line-height: 100%;
                  margin:40px auto 50px auto;}

#latMainContentContent_1,#latMainContentContent_2,#latMainContentContent_3
            {font-size:14px;
              color:#312028;
              line-height: 100%;
              margin:26px auto;
              width: 75%;
              text-align:center;}

#latMainPicTitle_1,#latMainPicTitle_2,#latMainPicTitle_3,#latMainPicTitle_4
{margin:45px auto 100px auto;
text-align:center;
width:60px;
font-size:12px;
line-height:100%;
padding:10px 35px;
border:1px solid #303549;
color:#303549;}

#latMainPicTitle_1:hover,#latMainPicTitle_2:hover,#latMainPicTitle_3:hover,#latMainPicTitle_4:hover
{background:#303549;
  color:#ffffff;
  cursor:pointer;
 transition:all ease .2s;}

#latMainPic_1 img,#latMainPic_2 img,#latMainPic_3 img,#latMainPic_4 img{max-width:90%;transition: all ease .8s;}


input{
  border:none;
  color: white;
  width: 222px;
  height: 27px;
  background: rgba(192,192,192,33%);
}

/* input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color: white;
  } */

::placeholder {
  color:white;
}

textarea{
  resize: none;
  border: none;
  width: 515px;
  height: 80px;
  overflow-y:hidden;
  overflow-x:hidden;
  color: white;
  background: rgba(192,192,192,33%);
}
@media only screen and (max-width: 1000px){
textarea{width:100%;}
}

.fade {

  -webkit-animation-name: transition;
  -webkit-animation-duration: 1.5s;
  animation-name: transition;
  animation-duration: 3.5s;
}

@-webkit-keyframes transition {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes transition {
  from {opacity: .4}
  to {opacity: 1}
}

.but_c{
  font-size:16px;
//  padding:5px 35px;
  color:#ffffff;
  background: rgba(0%,0%,0%,0%);
  border:1px solid #23dfd0;
  cursor:pointer;
  width:100px;
  height:35px;
  text-align:center;
}

.projectshow-container {
  padding-top: 66px;
  padding-left: 18%;
}

 .projectshow-container img{
  width: 175px;
  height: 100px;
  padding-left:11%;
 }

.mySlides {
   display: none;

}

.mySlides img{
  width: 270px;
  height: 130px;
}

/* Next & previous buttons */
.prev, .next {
 cursor: pointer;
 position: absolute;
 top: 45%;
 width: auto;
 margin-left: -37%;
 margin-right:13%;
 color: white;
 font-weight: bold;
 font-size: 18px;
 transition: 0.6s ease;
 border-radius: 0 3px 3px 0;
}

.prev img, .next img{
  width: 20px;
  height: 30px;
}

/* Position the "next button" to the right */
.next {
 right: 0;
 border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
 background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
 color: #f2f2f2;
 font-size: 15px;
 padding: 8px 12px;
 position: absolute;
 bottom: 8px;
 width: 100%;
 text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
 color: #f2f2f2;
 font-size: 12px;
 padding: 8px 12px;
 position: absolute;
 top: 0;
}

.error{
  margin-top:3px;
}

@media only screen and (max-width: 1000px){
  #latMainContent_1,#latMainContent_2{width:50%;}
    #latMainContent_3{width:100%;margin:40px auto 100px auto;}
    #latMainContentContent_3{width:45%;}
      #latMainPic_1,#latMainPic_2,#latMainPic_3,#latMainPic_4{width:50%;transition:all ease .8s;}
        #latMainPic_1 img, #latMainPic_2 img, #latMainPic_3 img, #latMainPic_4 img
        {max-width:55%;transition:all ease .8s;}
}


@media only screen and (max-width: 700px){
        #latMainPic_1,#latMainPic_2,#latMainPic_3,#latMainPic_4{width:100%;transition:all ease .8s;}
#latMainContent_1,#latMainContent_2,#latMainContent_3{width:100%;}
#latMainContent_3{margin:40px auto 50px auto;}
#latMainContentContent_3{width:75%;}}
