@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans|Roboto');

html, body { font-family: 'Noto Sans', 'Roboto', 'Open Sans'; line-height:150%;
margin:0; padding:0; height:100%; width:100%;
-webkit-font-smoothing: antialiased;
}


a { color:#666666; text-decoration:none; }
a:hover { color:#ee6622; text-decoration:none; }
img { vertical-align:middle; width: 100%; }
.circular--squareP{
    border-radius:50%;
}
/*WTFWTWFWTWTWFWTW全網基本定義結束WTWFWTWFWTWFWTWFWTWFWTW*/
/*WTFWTWTWTWTWFWTW全網架構定義開始WTWFWTWFWTWFDWFWTWDFWTW*/
/*最外層區塊*/
#latwapper{ width:100%; max-width:100%; text-align:left; border:0px; padding:0px; word-wrap:normal;}
/*header區塊*/
#latHeader{ width:100%; background:#e0e0e0; margin:0px; padding:0px; margin-bottom:0px; }
/*main區塊*/
#latMain{width:100%;}
#latMainR1{width:100%;background:#c1c1c2;}
#latMainTitle{width:100%;display:block;text-align:center;}
#latMainMsg_2{width:70%;display:block;text-align:center;margin:0 auto;}
#latMainContent_1{width:33%;display:block;vertical-align: middle;float:left;}
#latMainContent_2{width:33%;display:block;vertical-align: middle;float:left;}
#latMainContent_3{width:33%;display:block;vertical-align: middle;float:left;}
/*mainpic區塊*/
#latMainMsg_3{WIDTH:75%;display:block;text-align: center;margin:0 auto;transition:padding ease .8s;}
#latMainPic_1{width:25%;vertical-align: middle;float:left;transition:width ease .8s;}
#latMainPic_2{width:25%;vertical-align: middle;float:left;transition:width ease .8s;}
#latMainPic_3{width:25%;vertical-align: middle;float:left;transition:width ease .8s;}
#latMainPic_4{width:25%;vertical-align: middle;float:left;transition:width ease .8s;}
/*content區塊*/
#latContent{width:100%;background:#c1c1c2;}
#latContentR1{width:100%;}
#latContentTitle{width:100%;display:block;text-align:center;transition:width ease .8s;}
#latContentMsg_1{width:100%;display:block;text-align:center;transition:width ease .8s;}
#latContentMsg_2{width:70%;display:block;margin:0 auto;transition:width ease .8s;}
#latContentMsg_3{width:100%;display:block;text-align: center;transition:width ease .8s;}
/*第二塊content*/
#latContentR2{width:100%;}
#latContentTitle2{width:100%;display:block;text-align: center;transition:width ease .8s;}
#latContentMsg_4{width:100%;display:block;text-align: center;transition:width ease .8s;}
#latContentMsg_5{width:70%;display:block;text-align: center;margin:0 auto;transition:width ease .8s;}
#latContentMsg_6{width:70%;display:block;text-align: center;margin:0 auto;transition:width ease .8s;}
/*footer區塊*/
#latFooter{ width:100%; background:#e0e0e0; padding:0px; margin-top: 0; min-height: 745px;}
#latFooterR1{width:100%;text-align:left;display:block;margin:0 auto;}
#latFooterTitle{width:100%;display:block;}
#latFooterMsg_1{width:100%;display:block;}
#latFooterMsg_2{width:100%;display:block;}
#latFooterMsg_3{width:33%;float:left;display:block;transition:width ease .8s;}
#latFooterMsg_4{width:33%;float:left;display:block;transition:width ease .8s;}
#latFooterMsg_5{width:33%;float:left;display:block;transition:width ease .8s;}
/*#latFooterMsg_6{width:33%;float:left;display:block;transition:width ease .8s;}*/
#latFooterMsg_7{width:66%;float:left;display:block;transition:width ease .8s;}
#latFooterMsg_8{width:100%;display:block;text-align: right;transition:width ease .8s;}



/*\\\\\\\\\\\\\\\\\\\\\\\\全網架構定義結束\\\\\\\\\\\\\\\\\\\\\\\\*/
